<p>table works!</p>
<table class="table-auto w-full">
  <thead class="border-b border-slate-300">
    <tr>
      <th *ngFor="let column of Columns" class="pl-2">{{ column }}</th>
    </tr>
  </thead>
  <tbody class="p-5">
    <tr class=" " *ngIf="Items!.length == 0">
      <td colspan="3" class="text-center py-3">No Records</td>
    </tr>
    <tr class="mt-2" *ngFor="let item of Items">
      <td *ngFor="let column of Columns" class="pl-5 py-3">
        {{ item[column] }}
      </td>
      <td class="pl-2 text-center py-3">
        <button (click)="editItem(item)">
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <button (click)="deleteItem(item)">
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
