/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
.simple-spinner {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}

.simple-spinner span {
  display: block;
  width: 100%;
  height: 100%;
  /* border: 3px solid; */
  border-radius: 50%;
  /* border-right-color: rgba(255, 255, 255, 0.7); */
  animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
