<div class="max-w-screen-lg w-screen flex items-center justify-center flex-col">
  <h1 class="mx-auto">Project searches</h1>
  <div class="flex justify-center items-center w-96 flex-col">
    <button class="bg-sky-600 text-white px-2 py-1 rounded-md ml-auto">
      New Search
    </button>
    <div class="flex w-full">
      <div class="w-full">
        <table class="w-4/5">
          <thead>
            <tr>
              <th class="pl-2">Id</th>
              <th class="pl-2">Jobs</th>
              <th class="pl-2">Rates</th>
              <th class="pl-2">User Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let search of searches$ | async">
              <td class="text-center">{{ search.id }}</td>
              <td class="text-center">{{ search.input.jobs }}</td>
              <td class="text-center">
                {{ search.input.minPrice ?? 0 | number : ".2-2" }}
                -
                {{ search.input.maxPrice ?? 0 | number : ".2-2" }}
              </td>
              <td class="text-center">{{ search.userName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
