<div class="max-w-screen-lg w-screen flex items-center justify-center flex-col">
  <app-dialog [(isDialogVisible)]="isTemplateFormVisible">
    <app-template-form
      class="z-10 absolute"
      [templateInput]="templateInput"
      (formResult)="OnDialogSave($event)"
    ></app-template-form>
  </app-dialog>
  <!-- </div> -->
  <!-- <div class="w-full mx-auto flex items-center flex-col"> -->
  <div class="w-2/3 flex items-end flex-col">
    <button
      (click)="addTemplate()"
      class="bg-sky-600 text-white px-2 py-1 rounded-md ml-auto --tw"
    >
      New Template
    </button>
  </div>
  <div class="mt-2 w-2/3 text-sm rounded-xl border-slate-300 border p-5">
    <app-table
      [Items$]="templates$"
      [TableOptions]="tableOptions"
      (EditEmiter)="editTemplate($event)"
      (DeleteEmiter)="deleteTemplate($event)"
    >
    </app-table>
    <!-- </div> -->
  </div>
</div>
